version: "3.9"

services:

  backend:
    image: cloud-native:v1
    
    ports:
      - "5000:5000"

  frontend:
    image: cloud-frontend:v1
    
    ports:
      - "3000:3000"
    depends_on:
      - backend


  nginx:
    build: ./nginx
    container_name: nginx-gateway
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend